# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/archive/
data/raw/
*.zip

# Models
models/*.pth
models/*.pt

# Outputs that can be regenerated
outputs/temp/

# System
.DS_Store

# Model checkpoints
models/*.pth
models/*.pt
models/**/*.pth
models/**/*.pt